html {
  font-size: 20px; /* px bedeutet 'pixels': die Schriftgröße wird auf 10 Pixel gesetzt  */
  font-family: 'Do Hyeon', sans-serif; /* hier kommt der Name der ausgewählten Schriftfamilie hin */
}
h1 {
  font-size: 60px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 3px 1px black;
}

a {
  font-size: 20px;
  display: block;
  text-align: center;
}

p {font-stretch: 2px;
	font-weight: 5px;
}

html {
  background-color: #00c500;
}

body {
	width: 800px;
  	margin: 20px auto;
 	background-color: #FF9500;
  	padding: 0 40px 20px 40px;
  	border: 5px solid black;
}

img {
	display: block;
	margin: 0 auto;
	text-align: center;
}

button {
  display: block;
  width: 200px;
  height: 30px;
  margin: 50px;
  align-items: center;
}